/*
=============
Top HEADER
=============
*/
.hide{
	display: none;
}

.wrapper{
	width:1024px;
	position: relative;
	margin:0 auto;
	z-index: 3;
	background-color: #fff;
	box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 5px 0 15px -6px rgba(0, 0, 0, 0.3), -5px 0 15px -6px rgba(0, 0, 0, 0.3);
}

.header {
	width: 100%;
	height:8em;

	background-color:#0099FF ;
 	background: linear-gradient(0deg, #66ccff, #0099FF);
 	
    /*box-shadow: 3px 3px 10px rgba(0,0,0,.4), -3px 0px 10px rgba(0,0,0,.4) ;*/
}
.header p{
	font-family: 'Roboto', sans-serif;
    width: 28%;
    margin-top: -33px;
    margin-left: 25%;
    
    color: white;
}
.logo{
	
	margin-left: 5%;
	width:4em;
	
	font-size: 4em;
	font-weight: 700;
	display: inline-block;
}
.logo img {
	height: 97px;
	margin-top: 15px;
}
#placeholder{
	height:5em;
}
.nav{
	margin-left:13%;
	margin-top: -65px;
	width: 100%;
	text-align: center;

	}

.nav button{
		
		/*width:6em;
		height:2.4em;*/
		line-height: 1.8em;
		/*padding-right: .8em;
		padding-left: .8em;*/
		
		/*margin-right: .4em;
		margin-left: .4em;*/
		border-radius: 4px;
		width:8.5rem;
		height:2.5em;
		padding-right: .8em;
		padding-left: .8em;
		margin-right: .3em;
		margin-left: .3em;
		background-color:#FFD758;
		border:2px solid  #FFD758;

	}	
.nav button a{
		font-family: 'Roboto', sans-serif;
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;

		

}

.nav button:hover{
	background-color:#FFD758;
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
	/*box-shadow: inset 1px 1px 3px rgba(0,0,0,.4);*/
	color:#fff;
	
	height:2.5em;
	border:2px solid  #FFD758;
	
}

/*
================
BODY
================
*/

    .divider{
    
    padding-bottom:5px;
    width:100%;
    

    }

    .divider span {
    display: inline-block;
    background-color: #d0d0d0;
    height: 1px;
    width: 85%;
}

.content{
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	
}
.topcontent{
	width:100%;
}
.imgbox{
	
	float:left;
	height:22em;
	width: 25%;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 60px;
	margin-left: 20px;
}
.product-placeholder{
	height: 150px;
}

.product-bullets{
	float:right;
	width:60%;
	padding-top: 20px;
	
}
.button{
	margin-left: 25%;
	margin-top: -2%;
}

.product-bullets ul{
	list-style-type: circle;
	padding-top: 4%;
	padding-left:17px;
	width:70%;
	line-height: 2em;
}
.product-bullets .divider{
	width:87%;
}
.product-bullets .title{
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
}
.product-bullets p{
	display: inline-block;
}
.price{
	font-weight: 700;
}
.bottom-content{
	margin-right: 70px;
	margin-left: 70px;
	clear:both;
}

.bottom-content .title{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}
.article{
	width: 85%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer{
	height: 40px;
	width: 100%;
	background-color: #242424;
	text-align: center;
	line-height: 20px;
	color:#fff;
}

/*
===================
Slide Menu
===================
*/

.menu-wrapper{
	width: 265px;
	height: 500px;
	position: fixed;
	top: 150px;
	/*left: 205px;*/
	left: 365px;
	z-index: 1;
	background-color: #FFD758;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; 
	transition: left 0.3s ease-in-out;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.1), -1px 1px 12px rgba(0,0,0,0.1);
}

.menu-wrapper.active{
	width: 225px;
	left:205px;
	z-index: 1;
	
	
}

.menu-arrow{
	position: absolute;
	width: 64px;
	height: 500px;
	cursor: pointer;
	background-color: #FFD758;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; 
	border-right:1px solid #e1ab00;
	box-shadow: none;
	-webkit-appearance: none;
	padding: 0;
	
}

.arrow-img{
	width: 45px;
	margin-top: 225px;
	margin-left: 10px;
	transition: transform 0.3s linear;
}

.arrow-img.active{
	transform: rotate(180deg);
}

.menu-wrapper ul li {


}

.menu-wrapper ul li a {
	display: block;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: white;
	width: 200px;
	height: 45px;
	padding-left: 50px;
	margin-left: 40px;
	line-height: 45px;
}

.menu-wrapper ul li a:hover {
	background-color: #e1ab00;
}


/*
====================
Material Design
====================
*/


[material] { position: relative; overflow: hidden;  text-align: center; border: none; background: none; }
[material][disabled] { background: rgb(234, 234, 234); }
 
[material][primary] { background: #cecece; width: 56px; height: 56px; -webkit-clip-path: circle(32px at 32px 32px); clip-path: circle(32px at 32px 32px); line-height: 32px; border-radius: 50%; font-size: 24px; }
[material][raised] { border-radius: 3px; }
[material][raised]:not([disabled]) { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23); 
transition: .3s all ease-in-out; background: #dfdfdf;
}
[material][raised]:not([disabled]):hover,
[material][raised]:not([disabled]):active
{ box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22); }

[material][raised][colored] { color: #fff; background: #4285f4; }

[material][secondary] { background: #cecece; width: 40px; height: 40px; -webkit-clip-path: circle(40px at 20px 20px); clip-path: circle(40px at 20px 20px); line-height: 16px; border-radius: 50%; font-size: 18px; }
[material]:focus { outline: none; }

.ripple { display: block; position: absolute; background: rgba(0,0,0,.1); border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); }
/*animation effect*/
.ripple.animate { -webkit-animation: ripple 0.65s linear; animation: ripple 0.65s linear; }

@-webkit-keyframes ripple {
	100% {opacity: 0; -webkit-transform: scale(2.5); transform: scale(2.5);}
}
@keyframes ripple { 100% {opacity: 0; -webkit-transform: scale(2.5); transform: scale(2.5);}
}

